<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:lightblue;">
  <br><br><br><br><br><br><br><br>
<label for="fname" style="font-size:90px;" >Anzahl Schlücke: </label>
<br>
<br>
<label for="fname" style="font-size:200px;" >{{anz}}</label>
<br>
  <br><br><br><br><br><br>
{% if g.user['username'] == 'test' %}
  <form method="post">
    <input style="font-size:80px;" type="submit" value="start">
  </form>
{% else %}
<form method="post">
  <input type="submit" style="font-size:80px;" value="Ergebnis">
</form>
{% endif%}
</body>
</html>