<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=adevice-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
    <title>Hamburger Navbar</title>
</head>

<body style="background-color:lightblue;">
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo">Saufen</a>
            <ul class="nav-menu">
                {% if g.user %}
                {% if g.user['username'] == 'test' %}
                <li class="nav-item">
                    <a href="{{url_for('spiele.startgame')}}" class="nav-link">Create Game</a>
                </li>
                {% endif%}
                <li class="nav-item">
                    <a href="{{url_for('spiele.test')}}" class="nav-link">Play</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('auth.logout')}}" class="nav-link">Log-Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{url_for('auth.register')}}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <br>
    <h2>Memes</h2>
<div class="images-container">
    <img src="/static/asdf.jpg" style="width:90%;">
    <br><br><br><br>
    <video controls style="width:90%" preload="metadata">
        <source src="/static/video.mp4#t=1" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>
    <br><br><br><br>
    <img src="/static/food.PNG" style="width:90%;">
    <br><br><br><br>
    <img src="/static/food.PNG" style="width:90%;">
</div>


</body>
<script src="{{url_for('static', filename='main.js') }}"></script>
</html>