<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:lightblue;">
{%for i in range(0,len)%}
  <li>{{userName[i]}}, {{alleEinsaetze[i]}}, {{probabilityU[i]}}%</li>
{%endfor%}  

<h1>{{ looser }}</h1>
{% if g.user['username'] == 'test' %}
  <a href="{{url_for('spiele.neustart')}}" class="nav-link">Create new game</a>
{% else %}
  <a href="{{url_for('index.jo')}}" class="nav-link">Home</a>
{% endif%}
</body>
</html>