{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
  <form method="post">
    <label for="username">Username</label>
    <br>
    <input name="username" style="font-size:50px;" id="username" required>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" style="font-size:50px;" name="password" id="password" required>
    <br><br><br><br>
    <input type="submit" style="font-size:50px;" value="Register">
  </form>
{% endblock %}